:root {
    --bg-color: #342619;
}

body {
    font-family: 'Fredoka One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
}

.nameofproject {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: #f1e5da;
}

.idofproject {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: #f1e5da;
}

.info-container {
    display: flex;
    justify-content: space-between;
    gap: 350px;
    align-items: center;
    margin-top: 100px;
}

.participants-label {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
    color: #f1e5da;
}

.participants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participants {
    width: 250px;
    height: 450px;
    overflow-y: auto;
    border: 2px solid #5b442e;
    border-radius: 10px;
    background-color: #453221;
    padding: 10px;
}

.participant-card {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #996633;
    border-radius: 10px;
    background-color: #cc9933;
    color: #342619;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .participant-card:hover {
        background-color: #a9802d;
        color: #fff;
        cursor: pointer;
    }

.add-button {
    padding: 10px;
    background-color: #cc9933;
    color: #f1dcbe;
    border: 4px solid #996633;
    font-family: 'Fredoka One', sans-serif;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .add-button:hover {
        background-color: #a9802d;
    }

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-label {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
    color: #f1e5da;
}

.progress {
    position: relative;
    width: 375px;
    height: 375px;
    border-radius: 50%;
    background-color: #453221;
    border: 3px solid #5b442e;
    clip-path: circle(50% at 50% 50%);
}
