bin/
obj/

*.dll
*.exe
*.pdb
*.cache
*.props
*.editorconfig
*.json
*.vs/

# SQL Server files
*.mdf
*.ldf
*.bak
*.sql

**/staticwebassets.*

*.FileListAbsolute.txt
*.CoreCompileInputs.cache
*.AssemblyInfo.cs