@model User
@{
    ViewData["Title"] = "User";
}
<link rel="stylesheet" href="~/css/User.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="login-container">
    <form method="post" asp-controller="User" asp-action="Registration">
        <label asp-for="nickname">Nickname:</label>
        <input asp-for="nickname" type="text" id="nickname" name="nickname" required /><br>
        <span asp-validation-for="nickname" class="text-danger"></span> <!-- Вивід помилки -->

        <label asp-for="password">Password:</label>
        <input asp-for="password" type="password" id="password" name="password" required /><br>
        <span asp-validation-for="password" class="text-danger"></span> <!-- Вивід помилки -->

        <button type="submit" class="login-button">Login</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}