@model ProjectManage.Models.ProjectParticipant

@{
    ViewData["Title"] = "ProjeX";
}
<link rel="stylesheet" href="~/css/Configuration.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="project-header">
    <h1 class="Title">Participant configuration</h1>
</div>

<div class="project-container">
    <form method="post" asp-controller="Manager" asp-action="SaveParticipant">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProjectId" />
        <input type="hidden" asp-for="ProjectName" />

        <label asp-for="ParticipantName">Nickname:</label>
        <input asp-for="ParticipantName" type="text" id="nickname" name="nickname" readonly /><br />

        <label asp-for="ParticipantPassword">Password:</label>
        <input asp-for="ParticipantPassword" type="text" id="password" name="password" readonly /><br />

        <label asp-for="Role">Role:</label>
        <input asp-for="Role" type="text" id="Role" required /><br />
        <span asp-validation-for="Role" class="text-danger"></span>

        <label asp-for="Tasks">Tasks:</label>
        <input asp-for="Tasks" type="text" id="Tasks" required /><br />
        <span asp-validation-for="Tasks" class="text-danger"></span>

        <label asp-for="Status">Status:</label>
        <input asp-for="Status" type="text" id="Status" required /><br />
        <span asp-validation-for="Status" class="text-danger"></span>

        <div class="button-container">
            <button type="submit" class="save-button">Save</button>
        </div>
    </form>

    <form method="post" asp-controller="Manager" asp-action="DeleteParticipant">
        <input type="hidden" name="participantId" value="@Model.Id" />
        <button type="submit" class="delete-button">Delete</button>
    </form>
</div>