@{
    ViewData["Title"] = "Bad data";
}
<link rel="stylesheet" href="~/css/EnterProject_error.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="error-body">
    <h1>This project data is not valid</h1>
    <h2>or project just doesn`t exist</h2>
    <a class="button" asp-controller="Manager" asp-action="EnterProject">Return back</a>
</div>