@model ProjectManage.Models.NameOfProject
@{
    ViewData["Title"] = "Manager";
}
<link rel="stylesheet" href="~/css/Manager.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="header">
    <h1 class="title">Create a project</h1>
</div>

<div class="project-container">
    <form method="post" asp-controller="Manager" asp-action="Create">

        <label asp-for="Name">Name of Project:</label>
        <input asp-for="Name" type="text" id="Name" name="Name" required><br>
        <span asp-validation-for="Name" class="text-danger"></span>

        <div class="button-container">
            <button type="submit" class="create-button">Create</button>
            <a href="/" class="back-button">Back</a>
        </div>
    </form>
</div>

<div class="link-container">
    <a class="link-button" asp-controller="Manager" asp-action="EnterProject">Already have a project?</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}