@model ProjectManage.Models.NameOfProject

@{
    ViewData["Title"] = "Project";
}
<link rel="stylesheet" href="~/css/Project.css" asp-append-version="true" />
<!--  <script src="~/js/Project.js"></script> -->
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


<div class="project-header">
    <h1 class="nameofproject">Name of project - "@Model.name"</h1>
</div>

<form method="post" asp-controller="Manager" asp-action="AddingRedirect">

    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.name" />

    <div class="project-body">
        <div class="info-container">
            <div class="participants-container">
                <div class="participants-label">Participants:</div>
                <div class="participants" id="participantsContainer">
                    <!-- List of participants will be added here -->
                </div>
                <button type="submit" class="add-button">Add Participant</button>
            </div>

            <div class="diagram" id="diagramContainer">
                <!-- Diagram parts will be dynamically added here -->
            </div>
        </div>
    </div>
</form>
