@{
    ViewData["Title"] = "Role";
}
<link rel="stylesheet" href="~/css/RolePage.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="role-container">
    <a href="/User" class="role-button">User</a>
    <a href="/Manager" class="role-button">Manager</a>
</div>
