@model ProjectManage.Models.NameOfProject
@{
    ViewData["Title"] = "ProjeX";
}
<link rel="stylesheet" href="~/css/EnterProject.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="header">
    <h2 class="title">Get access</h2>
</div>

<div class="enter-container">
    <form method="post" asp-controller="Manager" asp-action="EnterProject">

        <label asp-for="Name">Name of Project:</label>
        <input asp-for="Name" type="text" id="Name" name="Name" required><br>
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="Id">Id of Project:</label>
        <input asp-for="Id" type="number" id="Id" name="Id" required><br>
        <span asp-validation-for="Id" class="text-danger"></span>

        <div class="button-container">
            <button type="submit" class="enter-button">Enter</button>
            <a class="back-button" asp-controller="Manager" asp-action="Index">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 
