body {
    font-family: 'Fredoka One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #342619, #231a11);
}

.configuration-header {
    color: #f1e5da;
    font-size: 30px;
    text-align: center;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    color: #f1e5da;
}

input {
    display: block;
    width: 300px;
    margin: 10px 0 20px 0;
    padding: 10px;
    border: 2px solid #5b442e;
    border-radius: 10px;
    background-color: #573e28;
    color: #fcd190;
}

.save-button {
    font-family: 'Fredoka One', sans-serif;
    padding: 10px 30px;
    border: 4px solid #996633;
    background-color: #cc9933;
    color: #f1dcbe;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

    .save-button:hover {
        background-color: #a9802d;
    }

.delete-button-div {
    padding: 0 0 8% 0;
}

.delete-button {
    font-family: 'Fredoka One', sans-serif;
    padding: 10px 30px;
    border: 4px solid #e96d71;
    background-color: #e0151c;
    margin-top: 10px;
    color: #f1dcbe;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

    .delete-button:hover {
        background-color: #b32521;
    }