@model ProjectManage.Models.ProjectParticipant

@{
    ViewData["Title"] = "ProjeX";
}
<link rel="stylesheet" href="~/css/Adding.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="project-header">
    <h1 class="Title">Add Participant</h1>
</div>

<div class="project-container">
    <form method="post" asp-controller="Participant" asp-action="AddingParticipants">
        <input type="hidden" name="projectId" value="@Model.ProjectId" />
        <input type="hidden" name="projectName" value="@Model.ProjectName" />

        <label for="nickname">Nickname:</label>
        <input for="nickname" type="text" id="nickname" name="nickname" required /><br />

        <label for="password">Password:</label>
        <input for="password" type="password" id="password" name="password" required /><br />

        <label asp-for="Role">Role:</label>
        <input asp-for="Role" type="text" id="Role" required /><br />
        <span asp-validation-for="Role" class="text-danger"></span>

        <label asp-for="Tasks">Tasks:</label>
        <input asp-for="Tasks" type="text" id="Tasks" required /><br />
        <span asp-validation-for="Tasks" class="text-danger"></span>

        <label asp-for="Status">Status:</label>
        <input asp-for="Status" type="checkbox" id="Status" /><br />
        <span asp-validation-for="Status" class="text-danger"></span>

        <button type="submit" class="add-button">Add +</button>
    </form>
</div>