@model ProjectManage.Models.Participant

@{
    ViewData["Title"] = "ProjeX";
}

<link rel="stylesheet" href="~/css/SignIn.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/css-resolution/SignUp-SignIn-resolution.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="intro-screen" id="intro">ProjeX</div>

<div class="header">
    <h2 class="title">Sign In</h2>
</div>

<div class="container">
    <form method="post" asp-controller="Participant" asp-action="SignInController">

        <label asp-for="nickname">Nickname:</label>
        <input asp-for="nickname" type="text" id="nickname" name="nickname" required /><br>
        <span asp-validation-for="nickname" class="text-danger"></span>

        <label asp-for="password">Password:</label>
        <input asp-for="password" type="password" id="password" name="password" required /><br>
        <span asp-validation-for="password" class="text-danger"></span>

        <div class="button-container">
            <button type="submit" class="button">Submit</button>
            <a class="back-button" href="SignUp">Back</a>
        </div>
    </form>
</div>

<div class="link-container">
    <a class="link-button" href="/SignUp">Don`t have a profile?</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="js\Home.js" asp-append-version="true"></script>
}
