@model ProjectManage.Models.Participant
@{
    ViewData["Title"] = "ProjeX";
}
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="header">
    <h2 class="title">Login</h2>
</div>

<div class="login-container">
    <form method="post" asp-controller="Participant" asp-action="Login">

        <label asp-for="nickname">Nickname:</label>
        <input asp-for="nickname" type="text" id="nickname" name="nickname" required /><br>
        <span asp-validation-for="nickname" class="text-danger"></span>

        <label asp-for="password">Password:</label>
        <input asp-for="password" type="password" id="password" name="password" required /><br>
        <span asp-validation-for="password" class="text-danger"></span>

        <div class="button-container">
            <button type="submit" class="login-button">Login</button>
            <a class="back-button" asp-controller="Participant" asp-action="Index">Back</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
